/Makefile.in
/Makefile
/runtests
/cur-tests
/.deps
/ragel-parse
/ragel-parse.c
/trans
/trans.c
/runtests.log
/runtests.trs
/test-suite.log
/working

/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/stamp-h1

