/Makefile.in
/Makefile
/runtests
/*.c
/*.cpp
/*.cs
/*.m
/*.d
/*.rb
/*.bin
/*.exp
/*.out
/*.java
/*.class
/*.ml
/*.go
/*_c.rl
/*_d.rl
/*_java.rl
/*_ruby.rl
/*_cs.rl
/*_go.rl
/*_ocaml.rl
/cur-tests
/.deps
/ragel-parse
/ragel-parse.c
/trans
/runtests.log
/runtests.trs
/test-suite.log

/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.h.in~
/config.log
/config.status
/configure
/stamp-h1
