/config.log
/config.h
/config.cache
/config.status
/config.guess
/config.sub
/ltmain.sh
/Makefile
/Makefile.in
/configure
/depcomp
/missing
/install-sh
/test-driver
/aclocal.m4
/autom4te.cache
/compile
/libtool

/build

*.ri
*.o

/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/install_manifest.txt
/*.user
