/configure
/Makefile.in
/autom4te.cache
/aclocal.m4
/missing
/libtool
/install-sh
/config.sub
/ltmain.sh
/config.guess
/depcomp
/config.log
/config.status
/Makefile
/compile
/test-driver
/build
/m4

/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/install_manifest.txt
/*.user
