# Common testing files.
/tmp.lm
/tmp.c
/tmp
/input[0-9]
/input
/out

/*.o
/Makefile.in
/Makefile
/.*.d
/colm
/config.h.in
/config.h
/defs.h
/version.h
/tags
/.deps
/libcolmp.a
/libcolmd.a
/.libs
/stamp-h1
/stamp-h2

/bootstrap0

/bootstrap1
/if1.h
/if1.cc
/parse1.c

/if2.h
/if2.cc
/parse2.c

/libprog.a
