/*.o
/*.lo
/Makefile.in
/Makefile
/.*.d
/colm
/defs.h
/config.h
/version.h
/tags
/.deps
/libcolm.a
/libcolm.la
/.libs
/stamp-h1
/stamp-h2

/bootstrap[012]
/gen
/tar
/include

/libprog.a

/CMakeFiles
/cmake_install.cmake
/*.exe

# Common testing files.
/tmp.lm
/tmp.c
/tmp
/input[0-9]
/input
/output
/log

/colm-pack
