# Common testing files.
/tmp.lm
/tmp.c
/tmp.bin
/input[0-9]
/input
/out

/*.o
/Makefile.in
/Makefile
/.*.d
/colm
/lmparse.h
/lmparse.cc
/lmscan.cc
/config.h.in
/config.h
/defs.h
/version.h
/tags
/.deps
/libcolm.a
/.libs
/stamp-h1
/stamp-h2

/bootstrap0

/bootstrap1
/exports1.h
/exports1.cc
/parse1.c

/exports2.h
/exports2.cc
/parse2.c

/libprog.a
