/Makefile.in
/Makefile

/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/stamp-h1

/compile
/depcomp
/install-sh
/missing
/test-driver

/working

/gentests

/.deps
/trans
/trans.c
/*.o

/config.h
/config.h.in
/config.h.in~
/stamp-h1

/subject.mk
/subject.sh

/pcre.d
