/Makefile
/version.tex
/ragel-guide.aux
/ragel-guide.dvi
/ragel-guide.log
/ragel-guide.pdf
/ragel-guide.out
/ragel-guide.toc
/ragel.1
/rlcodegen.1
/exstact.pdf
/explus.pdf
/exallact.pdf
/exstar.pdf
/opconcat.pdf
/exaction.pdf
/exor.pdf
/exfinpri.pdf
/exstpri.pdf
/bmor.pdf
/exdoneact.pdf
/bmnum.pdf
/exinter.pdf
/exallpri.pdf
/stembed.pdf
/exsubtr.pdf
/exconcat.pdf
/opstar.pdf
/bmrange.pdf
/opor.pdf
/bmconcat.pdf
/bmnull.pdf
/bmregex.pdf
/exstrongsubtr.pdf
/exdonepri.pdf
/exnegate.pdf
/exfinact.pdf
/exoption.pdf
/exoutact1.pdf
/exoutact2.pdf
/lmkleene.pdf
/ChangeLog.gz
