/Makefile
/version.tex
/ragel-guide.aux
/ragel-guide.dvi
/ragel-guide.log
/ragel-guide.pdf
/ragel-guide.out
/ragel-guide.toc
/ragel.1
/rlgen-cd.1
/rlgen-java.1
/rlgen-ruby.1
/rlgen-dot.1
/exstact.pdf
/explus.pdf
/exallact.pdf
/exstar.pdf
/opconcat.pdf
/exaction.pdf
/exor.pdf
/lmkleene.pdf
/entryguard.pdf
/bmor.pdf
/finguard.pdf
/bmnum.pdf
/exinter.pdf
/exallpri.pdf
/stembed.pdf
/exsubtr.pdf
/exconcat.pdf
/opstar.pdf
/bmrange.pdf
/opor.pdf
/bmconcat.pdf
/bmnull.pdf
/bmregex.pdf
/exstrongsubtr.pdf
/exdonepri.pdf
/exnegate.pdf
/exfinact.pdf
/exoption.pdf
/exoutact1.pdf
/exoutact2.pdf
/lmkleene.pdf
/ChangeLog.gz
/smallscanner.pdf
/lines1.pdf
/lines2.pdf
/comments1.pdf
/comments2.pdf
/leftguard.pdf
/exdoneact.pdf
/dropdown.pdf
/conds1.pdf
/conds2.pdf
