/aclocal.m4
/autom4te.cache/
/config.log
/config.status
/configure
/libtool
/runtests
/m4
/sedsubst
/Makefile
/Makefile.in
/compile
/config.guess
/config.sub
/depcomp
/install-sh
/ltmain.sh
/missing
/runtests.sh
/working
